.card {
    height: 20em;
    width: 50%;
    padding: 32px;
    /* todo: every other container gets center */
    border: 1px solid rgba(255, 255, 255, .4);
}

.mat {
    height: 15em;
    padding: 24px;
    background-color: var(--cards-background);
}